body {
  width: 1024px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0 auto;
}

.body-box {
  display: grid;
  grid-template-rows: 46px 61px 17px 261px 37px 261px 34px 51px;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 62px;
  background: url(../img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grey-city {
  background: url(../img/grey-city.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER */

.header-box {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logo-box {
  align-self: center;
  display: grid;
  grid-template-rows: 30px 21px;
  grid-template-columns: 53px 90px;
  column-gap: 8px;
  justify-items: start;
}

.logo-img {
  width: 53px;
  height: 47px;
  grid-row: 1 / 3;
  align-self: center;
}

.milan {
  grid-column: 2 / 3;
  font-size: 29px;
  line-height: 29px;
  font-weight: 700;
}

.holidays {
  grid-column: 2 / 3;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  align-self: end;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.contact {
  display: flex;
  height: 21px;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
}

/* MAIN */

.tour-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.line-items-top {
  grid-row: 4 / 5;
}

.line-items-bot {
  grid-row: 6 / 7;
}

.tour-box-image {
  display: flex;
  width: 300px;
  height: 220px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: linear-gradient(to top, black, white);
}

.image {
  position: relative;
  width: 98%;
  height: 98%;
}

.image-1 {
  background: url(../img/img-shopping-tour.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-2 {
  background: url(../img/img-sightseeing-tour.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-3 {
  background: url(../img/img-food-tour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-4 {
  background: url(../img/img-bars-tour.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-5 {
  background: url(../img/img-architecture-tour.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-6 {
  background: url(../img/img-walking-tours.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hover-box {
  position: absolute;
  height: 55px;
  width: 100%;
  left: 0;
  bottom: -58px;
  background-color: #f26522;
  transition: 0.5s;
  display: grid;
  grid-template-rows: 7px 14px 5px 20px 9px;
  grid-template-columns: 16px 64px 100px 1fr;
  justify-content: start;
  justify-items: start;
  align-items: center;
  align-content: center;
}

.tour-box:hover .hover-box {
  left: 0;
  bottom: 0;
}

.text-from {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.text-price {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.text-details {
  grid-row: 4 / 5;
  grid-column: 4 / 5;
  width: 101px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.text-details::after {
  display: block;
  content: url(../img/vector.svg);
  margin-left: 16px;
  padding-top: 2px;
}

.tour-box-name {
  width: 163px;
  height: 21px;
  display: flex;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

/* FOOTER */

.footer-box {
  grid-row: 8 / 9;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  width: 306px;
  height: 21px;
  display: flex;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.logo-box:hover {
  color: #f26522;
}

.logo-box:hover img {
  filter: invert(51%) sepia(28%) saturate(5445%) hue-rotate(347deg)
    brightness(97%) contrast(95%);
}

.contact:hover {
  color: #f26522;
}

.tour-box:hover .tour-box-image {
  background-image: none;
  background-color: #f26522;
}

.tour-box:hover .tour-box-name {
  color: #f26522;
}

.change-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  background-color: rgba(242, 127, 4, 0.1);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.change-button:hover {
  background-color: #f26522;
}

.darkgreen-button:hover {
  background-color: #094202;
}

.darkgreen:hover {
  color: #094202;
}

.darkgreen:hover img {
  filter: invert(15%) sepia(20%) saturate(6878%) hue-rotate(84deg)
    brightness(97%) contrast(98%);
}

.darkgreen:hover .tour-box-image {
  background-image: none;
  background-color: #094202;
}

.darkgreen > .tour-box-image > .image > .hover-box {
  background-color: #094202;
}

.darkgreen:hover > .tour-box-name {
  color: #094202;
}
